.divHeader {
  display: flex;
  height: 65px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: var(--bg-boxes-color);
}
.divGitHub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.buttonGitHub {
  display: flex;
  gap: 12px;
  width: 100%;
  padding: 6px 24px;
  border-radius: 5px;
  border: 0;
  background-color: var(--github-button-color);
  color: var(--github-text-color);
  cursor: pointer;
  transition: ease 200ms box-shadow;
}
.buttonGoogle {
  display: flex;
  gap: 12px;
  width: 100%;
  padding: 6px 24px;
  border-radius: 5px;
  border: 0;
  background-color: #176ced;
  color: white;
  cursor: pointer;
  transition: ease 200ms box-shadow;
}
.buttonGitHub:hover {
  box-shadow: 0 0 5px 0.5px #d4af37;
}
.githubLogo path {
  fill: var(--github-text-color);
}
.googleLogo path {
  fill: #fff;
}
.divGitHub > div:first-of-type {
  position: relative;
}
.divMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  margin-top: 10px;
  padding: 25px;
  gap: 10px;
  background-color: var(--bg-boxes-color);
  border-radius: 6px;
  box-shadow: 5px 5px 15px -5px black;

  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
  transition:
    ease 200ms opacity,
    ease 200ms visibility;
  user-select: none;
}
